@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background: #111;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background: white;
}

section {
    min-height: calc(100vh - 82px);
    padding: 2em;
}

/* start of header design */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFF7ED;

    padding: 1.5em 2em;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 1.75rem;
}

header a {
    text-decoration: none;
    color: #111;
}

header a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

header nav a {
    color: #4D4D4D;
    font-weight: 600;
    text-decoration: none;
    transition: .6s ease;
}

header nav a:hover,
header nav a.active {
    color: #111;
    text-decoration: underline;
    text-underline-offset: 2px;
}
/* end of header design */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background: #111;
    color: #f5f5f5;
}

/* start of home page design */
.home-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/home-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.home-page h1 {
    font-size: 3rem;
}

.home-page p {
    margin: 1em auto;
    line-height: 1.5;
}

.home-page a {
    background: #FF8C38;
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 1em 3em;
    border-radius: 6px;
    transition: .6s ease;
}

.home-page a:hover {
    background: #ff6a00;
}
/* end of home page design */

/* start of about page design */
.about-page img {
    width: 100%;
    border-radius: 8px;
}

.about-page h1 {
    color: #111;
    font-size: 2.5rem;
    margin: .5em 0;
}

.about-page p {
    color: #111;
    line-height: 1.5;
    margin-bottom: 2em;
    font-size: 1.125rem;
}

.about-page .action-section {
    background: #FFCC8D;
    border-radius: 6px;
    padding: 2em;
}

.about-page .action-section h2 {
    margin: .25em 0;
    font-size: 1.75rem;
}

.about-page .action-section a {
    display: block;
    width: fit-content;
    text-decoration: none;
    background: #111;
    color: #f5f5f5;
    padding: 1em 2em;
    border-radius: 6px;
    margin-top: 2em;
    transition: .6s ease;
}

.about-page .action-section a:hover {
    background: black;
    color: white;
}
/* end of about page design */

/* start of vans section design */
.section-title {
    font-size: 2rem;
    margin-bottom: 1em;
}

.vans-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.vans-container a {
    text-decoration: none;
    border-radius: 6px;
    transition: .6s;
}

.vans-container a:hover,
.vans-container a:focus {
    background: #f5f5f5;
    transform: scale(1.01);
}

.vans-container .van-card {
    color: #111;
}

.van-card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 6px;
}

.van-card .van-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: .5em;
}

.van-card .van-info .price-section span {
    display: block;
}

.van-card .van-info .price-section span.van-price {
    font-weight: bold;
    font-size: 1.25rem;
}

.van-card .van-info .price-section span.van-price::before {
    content: '$';
    margin-right: .125em;
}

.van-type {
    display: block;
    width: fit-content;
    color: #FFCC8D;
    padding: .5em 1em;
    border-radius: 6px;
    text-transform: capitalize;
}

.van-type.simple {
    background: #E17654;
    color: white;
}

.van-type.rugged {
    background: #115E59;
}

.van-type.luxury {
    background: #111;
}
/* end of vans section design */

/* start of van details section */
a.return-to-all-van-link {
    width: fit-content;
    text-underline-offset: 2px;
    display: flex;
    align-items: center;
    color: #201F1D;
    font-weight: 600;
    gap: .5em;
    margin-bottom: 3em;
    transition: .6s ease;
}

a.return-to-all-van-link svg {
    color: #858585;
}

a.return-to-all-van-link:hover {
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.van {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2em;
}

@media(max-width: 768px) {
    .van {
        flex-direction: column;
        justify-content: center;
    }
}

.van-details img {
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.van-details .van-info {
    color: #111;
}

.van-details .van-info .van-type {
    margin: .5em 0 1em;
}

.van-details .van-info .price {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 1em;
}

.van-details .van-info .price::before {
    content: '$';
    margin-right: .25em;
}

.van-details .van-info .price span {
    font-weight: 500;
}

.van-details .van-info .description {
    line-height: 1.5;
}

.van-details .van-info button {
    display: block;
    width: 100%;

    background-color: #FF8C38;
    color: #f5f5f5;
    font-weight: 600;

    border: none;
    border-radius: 6px;

    padding: 1em 2em;
    margin-top: 2em;

    cursor: pointer;
    transition: .6s ease;
}

.van-details .van-info button:hover {
    background-color: #ff6a00;
    color: white;
}
/* end of van details section */

/* host header design */
.host-header {
    border-top: 2px solid #eee;
}
/* end of host header design */

/* host vans card design */
.host-vans {
    background-color: #FFF7ED;
}

.host-vans a {
    text-decoration: none;
}

.host-vans h2 {
    font-size: 1.75rem;
    margin-bottom: 1.125em;
}

.host-vans-card {
    display: flex;
    align-items: center;
    gap: 1em;

    color: #111;
    background-color: white;
    padding: 1em;
    margin: 1em 0;
    border-radius: 4px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .6s ease;
}

.host-vans-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.host-vans-card img {
    width: 65px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 6px;
}

.host-vans-card p {
    color: #4D4D4D;
    margin-top: .25em;
}

/* host van details design */
.host-van-details {
    background-color: #FFF7ED;
}

.host-van-details-card {
    display: flex;
    align-items: center;
    gap: 1em;
    color: #111;
    padding: 2em;
}

.host-van-details-card img {
    width: 170px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 6px;
}

.host-van-details-card span.van-type {
    display: block;
}

.host-van-details-card h2 {
    margin: .5em 0;
}

.host-van-details-card .van-price {
    font-weight: bold;
    font-size: 1.125rem;
}

.host-van-details-card .van-price span {
    font-weight: 500;
}

/* host van details wrapper: van details card + header */
.host-van-details-wrapper,
.host-van-details-wrapper header {
    background-color: white;
}

.host-van-details-wrapper {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* van details sections design */
.host-van-description,
.host-van-pricing,
.host-van-photos {
    padding: .5em 2em;
}

.host-van-description p {
    line-height: 1.5;
    margin: .5em 0;
}

.host-van-pricing p {
    font-size: 1.25rem;
    font-weight: 700;
}

.host-van-pricing p span {
    font-size: 1rem;
    color: #4D4D4D;
    font-weight: 500;
}

.host-van-photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.host-van-photos img {
    width: 100px;
    border-radius: 6px;
}

/* vans filters section */
.vans-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

.vans-filters .filter {
    font-weight: 600;
    border: none;
    background: #FFEAD0;
    color: #4D4D4D;
    border-radius: 6px;
    padding: .5em 1em;
    cursor: pointer;
    transition: .6s ease;
}

.vans-filters .filter.simple:hover,
.vans-filters .filter.simple.active {
    background: #E17654;
    color: white;
}

.vans-filters .filter.luxury:hover,
.vans-filters .filter.luxury.active {
    background: #111;
    color: #FFEAD0;
}

.vans-filters .filter.rugged:hover,
.vans-filters .filter.rugged.active {
    background: #115E59;
    color: #FFEAD0;
}

.vans-filters .clear-filters-link {
    background: none;
    border: none;
    font-weight: 600;
    color: #4D4D4D;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
    transition: .6s ease;
}

.vans-filters .clear-filters-link:hover {
    color: black;
}

/* not found section design */
.not-found-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF7ED;
}

.not-found-section h2 {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    max-width: 600px;
}
.not-found-section a {
    display: block;
    margin-top: 1em;
    text-decoration: none;
    background: #111;
    color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 1em 3em;
    border-radius: 6px;
    transition: .6s ease;
}

.not-found-section a:hover {
    background: black;
    color: white;
}
